<h1>Choose a Meal</h1>

<form method="POST" action="/results">
  <select name="mealId">
    <% meals.forEach(meal => { %>
      <option value="<%= meal._id %>"><%= meal.name %></option>
    <% }); %>
  </select>

  <input type="text" name="zip" required placeholder="ZIP Code (e.g., 84040)" pattern="\d{5}">
  <button type="submit">Get Ingredients</button>
</form>