<h1>Weekly Meal Plan</h1>
<a href="/assign">Assign a Meal</a>

<a href="/shopping-list">View Shopping List 🛒</a>

<ul>
  <% week.forEach(day => { %>
    <li>
      <strong><%= day.date %></strong>: 
      <%= day.meal ? day.meal : "No meal assigned" %>
    </li>
  <% }) %>
</ul>